NODE_ENV="test"

MGC_TOKEN="mgc-token"
MGC_INSTANCE_USER="ubuntu"
MGC_INSTANCE_IMAGE="cloud-ubuntu-24.04 LTS"

INFINITE_LOOP_INTERVAL="0"
INFINITE_LOOP_MAX_RETRIES="0"

SSH_PRIVATE_KEY="ssh-private-key"
